<div class="playerWrapper">
    <div class="topRow">
        <div class="nameHealth">
            <p> Name </p>
            <p> Health Value </p>
        </div>

        <div class="characterPic">
            <p> Place Holder </p>
        </div>
    </div>
    <div class = "secondRow">
        <div class = "stats">
            <p>Armor Class</p>
            <p>1</p>
        </div>
        <div class = "stats">
            <p>Strength</p>
            <p>1</p>
        </div>
        <div class = "stats">
            <p>Dexterity</p>
            <p>5</p>
        </div>
        <div class = "stats">
            <p>Constitution</p>
            <p>7</p>
        </div>
        <div class = "stats">
            <p>Intelligence</p>
            <p>5</p>
        </div>
        <div class = "stats">
            <p>Wisdom</p>
            <p>17</p>
        </div>
        <div class = "stats">
            <p>Charisma</p>
            <p>17</p>
        </div>
    </div>

    <div class="thirdRow">
        <div class = "inventory">
            <h4> Inventory: </h4>
        </div>

        <div class = "dmMessage">
            <form>
                <div class="formContents">
                    <input class="textBox" type="text" placeholder="Note to DM">
                    <button class="btn"> Send </button>
                </div>
            </form>
        </div>
    </div>

    <div class="fourthRow">
        <p> Image from DM</p>
    </div>
</div>
