.tabs
{
    display: flex;
    gap: 14px;
    padding: 15px;
    background-color: rgba(grey,.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    margin: 12px;
}

.tab
{
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.tabTile
{
    display: flex;
    padding: 15px;

    cursor: pointer;

    i
    {
        color: #222;
    }

    transition: all .6s ease-out;
}

.tabTile::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    //background: linear-gradient(45deg,#f8b5a5,#e2d2fd);
    border-radius: 1000px;
    z-index: -1;
    transition: all 0.6s;
    opacity: .8;


    transition: all .05s ease-out;
}

.playerOne .tabTile::before
{
    background: linear-gradient(45deg,#3E68BD,#E3D9C3);
}

.playerOne:hover .tabTile::before
{
    transform: scale(1.1);
    opacity: 1;
    background: lightgreen;
}

.playerTwo .tabTile::before
{
    background: linear-gradient(45deg,#3E68BD,#E3D9C3);
}

.playerTwo:hover .tabTile::before
{
    transform: scale(1.1);
    opacity: 1;
    background: lightgreen;
}

.playerThree:hover .tabTile::before
{
    transform: scale(1.1);
    opacity: 1;
    background: lightgreen;
}

.playerThree .tabTile::before
{
    background: linear-gradient(45deg,#3E68BD,#E3D9C3);
}

.tabTile p
{
    color: black;
    font-weight: bold;
}

.tabTile:hover::before
{
    transform: scale(1.05);
    opacity: 1;
    
}

.tab.selected .tabTile::before
{
    border-radius: 5px;
}